// input_elements.scss
input,
textarea{
  &:not([type='checkbox']):not([type='radio']) {
    width: 100%;
    display: block;
  }
  min-height: auto;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.42857143;
  color: $color-dark-text;
  padding: 6px 12px;
  margin: 0;
  background: #fff none;
  border: 1px solid $color-borders;
  border-radius: 4px;
  -webkit-transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}
