.display-contents,
div[approuteroutlet] + * {
  display: contents;
}

.full-page {
  height: 100vh;
  max-height: 100vh;
}
.show-header .full-page {
  height: calc(100vh - 50px); //header
  max-height: calc(100vh - 50px); //header
  @media #{$breakpoint-medium} {
    & .main-content {
      flex-grow: 1;
    }
  }
}
