@import "src/sassFramework/variables.scss";

:host {

  ::ng-deep .mat-expansion-panel-body {
    padding: 10px;
  }

  ::ng-deep .mat-expansion-panel-content {
    line-height: 15px;
  }

  ::ng-deep mat-checkbox {

    width: 100%;

    .mat-checkbox-label {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 270px;
      color: rgba(0, 0, 0, 0.87);
    }

    .mat-checkbox-layout {
      .mat-checkbox-inner-container {
        margin-right: 4px;
      }
    }
  }

  .mat-tree-node {

    padding-bottom: 5px;

    min-height: 15px;
    justify-content: left;
    font-size: small;

    .mat-icon-button {
      line-height: 20px;
      width: 25px;
      height: 25px;
      padding-bottom: 2rem;
    }
  }
}
