@import 'src/sassFramework/variables';
$hover-bg-color: rgba(0, 0, 0, 0.05);
$hover-text-color: #004926;


 .table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container td {
  padding: 10px;
  vertical-align: top;
  
}

/* Add a vertical line between columns */
.table-container td:not(:last-child) {
  border-right: 3px solid rgba($color: #000000, $alpha: 0.1);
}

.tr-border {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    height: 40px;
}

td {
    width: 10%;
  }



  .title-and-button {
    display: flex;
    justify-content: space-between; /* Space between title and button */
    align-items: center; /* Space between title and button */
  }
  .button-get-example {
    margin-left: auto; /* Automatically push the button to the right */
  }
  
  .title-and-button p {
    margin: 0; /* Remove default margin for better alignment */
  }
  
  .example-list {
    cursor: pointer;
    margin-top: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, color 0.3s ease;
  
    &:hover {
      background-color: $hover-bg-color;
      color: $hover-text-color;
    }
  }
.left-column {
  width: 33.33%;
}

.services-cell {
  width: 67.7%; /* Adjust the second column to fill the rest */
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.example-list {
  height: auto; /* Set a fixed height for each list item */
  overflow: hidden; /* Prevents overflow of content */
  display: flex;
  align-items: center; /* Vertically center the content */
  padding: 0 10px; /* Add padding for better spacing */
  box-sizing: border-box; /* Include padding in the element's total width/height */
  border-bottom: 1px solid #ddd; /* Optional, adds a divider between items */
  background-color: #f9f9f9; /* Optional, for better visibility */
}

.example-list:hover {
  background-color: #efefef; /* Optional, for hover effect */
}
.service-list {
  max-height: 400px; /* Set a maximum height for the list */
  overflow-y: auto; /* Make the list scrollable when it exceeds the max height */
  padding-left: 20px; /* Optional: add padding to match the bullet points */
  margin: 0;
  list-style-type: none; /* Optional: remove default list styling */
}

.service-list li {
  margin-bottom: 5px; /* Optional: space between list items */
}
.description-cell {
  width: 1100px; /* Fixed width */
}
.examples-list{
  overflow-y: auto;
  max-height: 500px;
}
