:host ::ng-deep {
  & .fa-marker-icon-marker.marker-gradient-back {
    color: #191919;
  }
  & .fa-marker-icon-marker.marker-gradient {
    background-clip: text !important;
    -webkit-text-fill-color: transparent;
  }
  & .fa-marker-wrapper > * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & .fa-marker-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}