@import 'src/sassFramework/variables';

:host ::ng-deep {

  .mat-dialog-content {
    align-items: unset !important;
  }

  .spinner {
    min-height: 500px !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  label {
    font-weight: bold;
  }

  .header {
    justify-content: space-between !important;

    div.actions {
      display: flex;
      flex-direction: row;
      margin-right: 20px;
      align-items: center;
      gap: 4px;

      .mat-icon {
        font-size: 20px;
        color: $color-primary;
      }

      .disabled {
        color: grey;
      }

      mat-icon.disabled:hover,
      a.disabled:hover {
        cursor: unset;
        text-decoration: none !important;
      }

      .mat-icon:hover {
        cursor: pointer;
      }

      .fair-btn {
        cursor: pointer;
        margin-right: 24px;
        border: 1px solid $color-primary;
        background: #fff;
        color: $color-primary;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 6px;
      }

      .fair-btn:hover {
        background: rgba($color-primary, 0.08);
      }
    }
  }

  table {
    width: 100%;

    &.service {
      margin-left: 20px;
    }

    &.dataprovider {
      td {
        padding-left: 0;
      }
    }
  }

  .citation {
    width: 100%;
    margin-left: 20px;
  }

  tr {
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    height: 40px;
  }

  th {
    padding-left: 0px !important;
    text-align: left;
    width: 20%;
  }

  td {
    width: 80%;
  }

  td.table {
    padding-right: 0px;
  }

  td.mat-footer-cell {
    padding-left: 0px;
    padding-right: 5px;
  }

  mat-accordion,
  mat-expansion-panel-header,
  .mat-expansion-panel-body {
    width: 100%;
    border: none;
    padding: 0;

    .mat-expansion-indicator {
      margin-right: 20px;
    }

  }

  mat-expansion-panel-header {
    font-weight: bold;
    height: 40px;
  }

  mat-expansion-panel {
    box-shadow: none !important;
  }

  .mat-expansion-panel-header-title {

    span.nobold,
    a.nobold {
      font-weight: normal;
    }
  }

  .providerList {
    display: flex;
    flex-direction: column;
  }

  .providers-span {
    margin-left: 20px;
  }

  .providers-span-bold {
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline !important;

    .mat-icon {
      text-decoration: unset !important;
    }
  }

  .categories-tree-invisible {
    display: none;
  }

  .categories-tree ul,
  .categories-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .categories-tree .mat-tree-node {
    min-height: 25px;
  }

  /*
   * This padding sets alignment of the nested nodes.
   */
  .categories-tree .mat-nested-tree-node div[role=group] {
    padding-left: 20px;
    min-height: 25px;
  }

  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .categories-tree div[role=group]>.mat-tree-node {
    padding-left: 20px;
    min-height: 25px;
  }

}