.powered-by-epos {
  position: fixed;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 11px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #7d7b7b;
  text-decoration: none;
  z-index: 100;
}