@import 'src/sassFramework/variables.scss';

.notification-holder {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

@keyframes slideIn {
  0% {
    transform: translateX(-1920px);
  }

  100% {
    transform: translateX(0);
  }
}

.notification {
  display: block;
  z-index: 9999;
  padding: 0;
  border-radius: .9rem;
  font-size: 1rem;
  color: white;
  border: #ecf0f5 .05rem solid;
  border-left-width: .5rem;
  position: relative;
  animation: .1s linear slideIn;
  width: 30vw;
  margin-bottom: 5px;
  box-sizing: border-box;

  &--positive {
    background: $color-text-bg-dark;
    border-color: #008d4c;
  }

  &--negative {
    background: $color-text-bg-dark;
    border-color: rgb(255, 30, 0);
  }

  &--warning {
    background: $color-text-bg-dark;
    border-color: #db8b0b;
  }

  &-close {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    display: block;
    // border: solid #e8e8e8 .05rem;
    border-radius: 100%;
    width: 1rem;
    height: 1rem;
    color: #000000;
    background: #ffffff;
    cursor: pointer;
    font-size: 1.3rem;

    &:hover {
      box-shadow: 0 0 25px -6px rgba(0, 0, 0, .75);
      font-size: 1.5rem;
    }

    &-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      font-size: 1em;
      transform: translate(-50%, -50%);
    }
  }

  &-action {
    margin-left: 15%;
    width: 85%;
    padding: 0 1rem 1rem;
    box-sizing: border-box;
  }

  &-body {
    display: flex;
    align-items: center;
    min-height: 4em;
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem;
    color: #ffffff;
    width: 99%;
    padding: 0 1rem;
    font-size: 1rem;
    box-sizing: border-box;

    &-text {
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis;
      word-break: break-all;
      max-height: 6em;
    }

    &-header {
      margin-top: .2rem;
      margin-bottom: .2rem;
      font-size: 1.7rem;
      font-weight: 700;
    }
  }
}
