@import "src/sassFramework/variables.scss";

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $padding-background-panel;
  background-color: $color-background-panel;
  // height: $button-toggle-height;

  .search-container {
    height: 100%;

    mat-form-field {
      width: 100%;
      padding: 5px;
    }
  }

}
