:host ::ng-deep { 
  .control-content {
    max-height: 300px;
  }
  .legend-content {
    overflow-y: auto;
    min-width: 200px;
    height: 100%;
  }

  .legend-title {
    display: flex;
    flex-direction: column;
    padding: 5px 0.5em;
    margin: 0;
    line-height: 20px;
    text-align: center;
    font-weight: bold;
  }
  .legend-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-shrink: 0;
    & .legend-title {
      flex-grow: 1;
    }
  }
  .legend-wrapper {
    display: flex;
    max-width: 200px;
    min-height: 1px;
  }

  .leaflet-right .legend-header {
    flex-direction: row;
  }
  .leaflet-left .legend-header {
    flex-direction: row-reverse;
  }

  .legend-details {
    width: 100%;
    padding: 5px;
    text-align: center;
  }

  .multilayer-specific-name {
    &::before { content: '('; }
    &::after { content: ')'; }
  }

  // change some flows depending on control position
  .leaflet-top .legend-wrapper {
    flex-direction: column;
  } 
  .leaflet-bottom  .legend-wrapper {
    flex-direction: column-reverse;
  }

  // specific to default individual legend display function
  .legend-details-grid {
    display: grid;
    grid-template: 20px auto / 20px auto;
    grid-gap: 0.2em 1em;
    align-items: center;
    text-align: left;
  }
  .legend-icon {
    position: relative;
    z-index: 0;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // stacked display
  .legend-display-stacked {
    & .single-legend-wrapper + .single-legend-wrapper {
      border-top: 1px solid #bdbdbd;
    }
  }
  // paged display
  .legend-display-paged {
    & .legend-pagination {
      display: flex;
      padding: 5px;
      & .btn {
        line-height: 1;
        &:first-of-type {
          margin-right: 0.2em;
        }
      }
    }
  }
}