@import 'src/sassFramework/variables.scss';

:host {

  ::ng-deep h1.mat-dialog-title {
    text-align: center;
    font-size: 17px;
    margin-bottom: 0px;
  }

  ::ng-deep .mat-dialog-content {
    justify-content: space-between;
  }

  .mat-spinner {}

  .spinner-wrapper {
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  mat-icon.share {
    color: $color-tertiary;
  }

  .toggle-container {
    width: 100%;
  }

  div.table {
    overflow: auto;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  div.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    .filter,
    .counter {
      margin-top: 2em;
    }

  }
  .citation-content {
  flex: 1;
  max-height: 90px;      
  overflow-y: auto;       
  padding-right: 8px;     
  word-break: break-word;
  overflow-y: auto; 
}

/* Optional: nicer scrollbar (Chrome/WebKit) */
.citation-content::-webkit-scrollbar {
  width: 6px;
}
.citation-content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
 

  div.citation-wrapper {
    padding-top: 7px;
    margin-top: 7px;
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100%;
    max-height: 100px !important;
    border-top: $color-borders 1px solid;
    align-items: flex-start;

    mat-icon {
      width: 24px !important;
      height: 24px !important;
    }
  }

  div.citation-wrapper button[mat-icon-button] {
    margin-left: 20px;
  }

  table {
    width: 100%;

    tr:nth-child(even) {
      background: whitesmoke;
    }

    tr {
      td.mat-column-select {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      td,
      th {
        div.actions {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        div.checkbox-container {
          display: flex;
        }
      }

    }

  }

  th.mat-sort-header-sorted {
    color: black;
  }

  .mat-checkbox {
    width: 100%;
  }

  .mat-icon {
    cursor: pointer;
  }

  div.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    margin-top: 20px;

    .mat-button-base {
      font-weight: bold;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }

}
