@import 'src/sassFramework/variables.scss';

:host {
  ::ng-deep .mat-tab-label-active {
    background-color: $color-selected-item;
  }

.layer-compat-warning {
  cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
    margin-right: 10px;

    mat-icon {
      font-size: 20px;
      width: 20px;
      height: 20px;
      color: #e53935;
    }
  }

  .layer-toggle {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  
  .layer-title {
    margin-left: 10px;
  }

  .layer-toggle {
    margin-left: auto;
  }

  .layer-control {
    width: 100%;
    min-width: 500px;
    height: auto;
    padding: $padding-background-panel;
    background-color: $color-background-panel;

    .layer-list {
      display: flex;
      flex-direction: column;
      background-color: white;
      width: 100%;
    }
  }

  .layer-container {
    min-height: 40vh;
  }

  .layer-header-no-move {
    cursor: pointer;
  }

  ::ng-deep .mat-expansion-indicator {
    cursor: pointer;
  }

  ::ng-deep .mat-tab-body-content {
    padding-top: 10px;
  }

  .layer-list.cdk-drop-list-dragging .layer:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .layer-placeholder {
    background: #ccc;
    border: dotted 3px #999;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  ::ng-deep .mat-tab-label {
    width: 100%;
  }

  ::ng-deep .mat-expansion-panel-header {
    padding-left: 10px;
  }

  .icon-color-layer {
    margin-right: 10px;
    font-size: 20px;
  }

  .basemap-info {
    display: flex;
    justify-content: space-between;
    width: 100%;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;

  margin-top: 0;
  margin-bottom: 12px;

  mat-icon {
    margin-right: 8px;
    font-size: 18px;
    height: 18px;
    width: 18px;
    color: rgba(43, 66, 45, 0.969);
  }
}

.custom-divider {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin: 10px 0;
}

.overlay-list {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.overlay-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.2s ease-in-out;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  .layer-title {
    flex-grow: 1;
  }
}