<app-base-dialog [data]="data" [title]="data.dataIn.dialogTitle">
  <ng-container class="content">
    <div class="dialog-body">

      <div class="dialog-header-bg">
        <p class="dialog-message">
          You've just logged in. Would you like to activate <span><b>'Metadata Preview'</b></span> mode?
        </p>

        <div class="tip-banner">
          <mat-icon class="tip-icon">lightbulb</mat-icon>
          <span>Tip: You can enable this mode later from the header bar, upper-right corner.</span>
        </div>
      </div>

      <div class="dialog-actions">
        <button class="btn-secondary" mat-stroked-button (click)="continue()"
          [innerHTML]="data.dataIn.cancelButtonHtml"></button>
        <button type="submit" [ngClass]="data.dataIn.activateMetaDataStatusCssClass" class="btn-primary" mat-flat-button
          (click)="enableMetadataStatusMode()">
          <mat-icon class="yellow">visibility</mat-icon> Activate Metadata Preview Mode
        </button>
      </div>

      <div class="dont-show">
        <mat-checkbox [(ngModel)]="noShowAgain" (change)="setCheckbox()">
          Don't show again
        </mat-checkbox>
      </div>

    </div>
  </ng-container>
</app-base-dialog>