@import 'src/sassFramework/variables.scss';

:host {

  mat-icon.share {
    color: $color-tertiary;
  }

  .mat-icon {
    color: $color-primary;

    &.pointer {
      cursor: pointer;
    }

    &.icon-up {
      transition: .3s;
      transform: rotate(180deg);
    }

    &.icon-down {
      transition: .3s;
      transform: rotate(0deg);
    }

    &.disabled {
      color: grey;
      cursor: unset;
    }
  }

  .wrapper {
    width: 100%;
    background-color: $color-background-panel;
    padding: $padding-background-panel;
    padding-top: 0px;
    margin-left: 5px;
    z-index: 0;

    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 400px;
    }

    .header {
      display: flex;
      align-items: center;
      flex-direction: row;
      height: $results-item-height;
      justify-content: space-between;

      .title {
        p {
          font-size: $results-title-font-size;
          font-weight: bold;
          text-align: right;
          padding-right: 10px;
          padding-left: 10px;
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          align-items: center;
        }

        .beta-tag {
          font-size: 10px;
          vertical-align: middle;
          background-color: #ff9800;
          color: white;
          padding: 2px 6px;
          border-radius: 6px;
          margin-left: 8px;
          font-weight: bold;
          letter-spacing: 1px;
          text-transform: uppercase;
        }
      }

      .actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }

    }

    .container {
      width: 100%;

      .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        padding: 10px;
        gap: 20px;

        span {
          font-weight: bold;
        }
      }

      .environment-list {
        display: flex;
        flex-direction: column;
        gap: 5px;
        background-color: white;

        .limit-info-text {
          margin-left: 8px;
          font-size: 12px;
          color: #757575;
          font-style: italic;
        }

        .environment {

          display: flex;
          flex-direction: column;
          justify-content: space-between;
          background-color: white;
          padding: 10px;
          border-bottom: 3px solid #c9c9c9;

          .environment-header {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 5px;

            .actions {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 2px;
            }

            .title {
              display: flex;
              align-items: center;
              font-weight: bold;
              cursor: pointer;
              width: 100%;

              &.selected {
                color: $color-tertiary;
              }
            }

          }

          .environment-info {
            display: flex;
            flex-direction: column;
            width: 100%;

            p.info {
              display: flex;
              flex-direction: row;
              margin-bottom: 2px;

              &.last {
                margin-top: 10px;
              }

              span.label {
                width: 40%;
              }

              span.value {
                display: flex;
                flex-direction: row;
                align-content: center;
                width: 60%;

                .mat-icon {
                  &.status {
                    display: flex;
                    align-items: center;
                    font-size: 14px !important;
                  }

                  &.ready {
                    color: green;
                  }

                  &.not_ready {
                    color: grey;
                  }

                  &.creating {
                    color: $color-secondary;
                  }

                  &.updating {
                    color: $color-secondary;
                  }
                }
              }
            }

          }

          .environment-detail {

            margin-top: 10px;

            .list-item {

              .drag-area {
                min-height: 50px;
                border: 2px dotted #c9c9c9;
                color: dimgray;
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                border-bottom: 1px solid #c9c9c9;

                .info {
                  width: 75%;
                }

                .actions {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                }
              }

            }

          }

          .environment-action {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
          }
        }

        .environment:last-child {
          border-bottom: none;
        }
      }
    }
  }
}
