@import 'src/sassFramework/variables';

.wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;


  .left {
    display: flex;
    width: 100%;
    justify-content: flex-start;

    p {
      margin-left: 0.75rem;
      font-size: 14px;
      width: 100%;
    }
    .guided-tour-content{
      width: 100%;
      display:flex;
      flex-direction: column;
      .body-1{
        color: $color-primary;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        height: 28px;
      }
      mat-checkbox{
        /* align-self: flex-start; */
        font-size: 11px;
        margin-left: 7px;
      }
    }
    
  }

  .guided-tour-icon{
    cursor: pointer;
  }

  .mat-button {
    height: 20px;
    width: 20px;
    min-width: 20px;
    line-height: normal;
    display: flex;
    justify-content: center;

    ::ng-deep .mat-button-ripple {
      width: 20px;
      inline-size: 20px;
    }
  }
}
