@import 'src/sassFramework/variables';

::ng-deep .cookies-bottom-sheet {
  width: 100vw;
  max-width: unset;
  min-width: unset;
  overflow: hidden;
  -webkit-box-shadow: 1px -11px 8px 4px rgba(0, 0, 0, 0.39);
  box-shadow: 1px -11px 8px 4px rgba(0, 0, 0, 0.39);
  border-radius: 20px;
  //transition-duration:5s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:host {
  min-height: 0;
  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 1em;
}

.policies-grid {
  // max-width: 600px;
  display: grid;
  gap: 5px;

  & mat-slide-toggle,
  & mat-checkbox {
    grid-column: 1;
  }

  & label {
    grid-column: 2;
    cursor: pointer;
    font-weight: bold;
  }

  & .details {
    grid-column: 2;
    padding-bottom: 10px;
    max-width: 500px;
    text-align: justify;

    & .mat-icon {
      vertical-align: top;
    }
  }

  & .actions {
    grid-column: 2;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
  }
}
