<h1>Welcome to the evolving ENVRI Catalogue of Services</h1>
<div class="policies-grid nice-scrollbar">
  <p class="details" style="font-size: 17px;">The ENVRI Catalogue of Services is being continuously improved.</p>
  <p class="details" style="font-size: 17px;">"Services" with "Data Visualization = Map" are tested and fully functional.</p>
  <p class="details" style="font-size: 17px;">Some legacy services are still being updated and may offer limited functionality.</p>

  <div class="actions">
    <button class="submit-butt" mat-flat-button color="primary" (click)="setStorage()" data-cy="accept-terms-button">OK</button>
  </div>
</div>
