@import "src/sassFramework/variables.scss";

:host {

  .date-input-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    gap: 3px;
    height: 35px;

    input {
      display: flex;
      margin: 5px 0;
      height: 26px;
      padding: 0 5px 0 5px;
      box-sizing: border-box;
    }

    input:disabled {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  .left-icon {
    margin-right: 5px;
  }

  mat-radio-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
  }

  ::ng-deep .mat-form-field-flex>.mat-form-field-infix {
    padding: 3px 2px !important;
    width: 100%;
    border-top: none;
  }

  ::ng-deep mat-form-field {
    width: 90%;
  }

}
